.districts-and-metro {
    padding: 60px 0;
    &__container {
        max-width: 1440px;
        width: 95%;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__title {
        font-family: Podkova;
        font-size: 48px;
        font-weight: 800;
        line-height: 63px;
        color: #44456b;
    }

   
  
}
