mixin districts(modifier)
  section.districts&attributes(attributes)
    .districts__container 
      h3.districts__title Районы обслуживания
      .districts__tabs-default
        .districts__universal-tab
          ul.districts__tabs
            li.districts__item
              button(type="button" data-tab="tab-1").districts__btn.districts__btn--active ЮАО
            li.districts__item
              button(type="button" data-tab="tab-2").districts__btn ВАО
            li.districts__item 
              button(type="button" data-tab="tab-3").districts__btn ЮЗАО
            li.districts__item 
              button(type="button" data-tab="tab-4").districts__btn СВАО
            li.districts__item 
              button(type="button" data-tab="tab-5").districts__btn Московская область
            li.districts__item 
              button(type="button" data-tab="tab-6").districts__btn ЮВАО
            li.districts__item 
              button(type="button" data-tab="tab-7").districts__btn ЗАО
            li.districts__item 
              button(type="button" data-tab="tab-8").districts__btn САО
            li.districts__item 
              button(type="button" data-tab="tab-9").districts__btn НАО
            li.districts__item 
              button(type="button" data-tab="tab-10").districts__btn ЗЕЛАО
            li.districts__item 
              button(type="button" data-tab="tab-11").districts__btn ТАО
            li.districts__item 
              button(type="button" data-tab="tab-12").districts__btn СЗАО
            li.districts__item 
              button(type="button" data-tab="tab-13").districts__btn ЦАО
        .districts__tab-panel 
          .districts__tab-item.districts__tab-item--active(id="tab-1")
            a(href="/yuao/").districts__tab-title ЮАО
            .districts__groups 
              .districts__group 
                .districts__group-item Б
                .districts__links
                  a(href="/biryulyovo-vostochnoe/") Бирюлёво Восточное
                  a(href="/biryulyovo-zapadnoe/") Бирюлёво Западное
                  a(href="/brateevo/") Братеево
              .districts__group 
                .districts__group-item Д 
                .districts__links
                  a(href="/danilovskij/") Даниловский
                  a(href="/donskoj/") Донской
              .districts__group 
                .districts__group-item З
                .districts__links
                  a(href="/zyablikovo/") Зябликово
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/moskvoreche-saburovo/") Москворечье-Сабурово 
              .districts__group 
                .districts__group-item Н
                .districts__links
                  a(href="/nagatino-sadovniki/") Нагатино-Садовники 
                  a(href="/nagatinskij-zaton/") Нагатинский Затон
                  a(href="/nagornyj/") Нагорный
              .districts__group 
                .districts__group-item О
                .districts__links
                  a(href="/orekhovo-borisovo-severnoe/") Орехово-Борисово Северное
                  a(href="/orekhovo-borisovo-yuzhnoe/") Орехово-Борисово Южное
              .districts__group 
                .districts__group-item Р
                .districts__links
                  a(href="/rajon-czariczyno/") Район Царицыно
              .districts__group 
                .districts__group-item Ч
                .districts__links
                  a(href="/chertanovo-severnoe/") Чертаново Северное
                  a(href="/chertanovo-czentralnoe/") Чертаново Центральное
                  a(href="/chertanovo-yuzhnoe/") Чертаново Южное
          .districts__tab-item(id="tab-2")
            a(href="/vao/").districts__tab-title ВАО
            .districts__groups 
              .districts__group 
                .districts__group-item Б
                .districts__links
                  a(href="/bogorodskoe/") Богородское
              .districts__group 
                .districts__group-item В
                .districts__links
                  a(href="/veshnyaki/") Вешняки
                  a(href="/vostochnoe-izmajlovo/") Восточное Измайлово
                  a(href="/vostochnyj/") Восточный
              .districts__group 
                .districts__group-item Г
                .districts__links
                  a(href="/galyanovo/") Гальяново
              .districts__group 
                .districts__group-item И
                .districts__links
                  a(href="/ivanovskoe/") Ивановское
                  a(href="/izmajlovo/") Измайлово
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/kosino-ukhtomskij/") Косино-Ухтомский
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/metrogorodok/") Метрогородок
              .districts__group 
                .districts__group-item Н
                .districts__links
                  a(href="/novogireevo/") Новогиреево
                  a(href="/novokosino/") Новокосино
              .districts__group 
                .districts__group-item П
                .districts__links
                  a(href="/perovo/") Перово
                  a(href="/preobrazhenskoe/") Преображенское
              .districts__group 
                .districts__group-item С
                .districts__links
                  a(href="/sokolinaya-gora/") Соколиная Гора
                  a(href="/sokolniki/") Сокольники
                  a(href="/severo-izmajlovo/") Северо Измайлово
          .districts__tab-item(id="tab-3")
            a(href="/yuzao/").districts__tab-title ЮЗАО
            .districts__groups 
              .districts__group 
                .districts__group-item А
                .districts__links
                  a(href="/akademicheskij/") Академический
              .districts__group 
                .districts__group-item Г
                .districts__links
                  a(href="/gagarinskij/") Гагаринский
              .districts__group 
                .districts__group-item З
                .districts__links
                  a(href="/zyuzino/") Зюзино
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/konkovo/") Коньково
                  a(href="/kotlovka/") Котловка
              .districts__group 
                .districts__group-item Л
                .districts__links
                  a(href="/lomonosovskij/") Ломоносовский
              .districts__group 
                .districts__group-item О
                .districts__links
                  a(href="/obruchevskij/") Обручевский
              .districts__group 
                .districts__group-item С
                .districts__links
                  a(href="/severnoe-butovo/") Северное Бутово
              .districts__group 
                .districts__group-item Т
                .districts__links
                  a(href="/tyoplyj-stan/") Тёплый Стан
              .districts__group 
                .districts__group-item Ч
                .districts__links
                  a(href="/cheryomushki/") Черёмушки
              .districts__group 
                .districts__group-item Ю
                .districts__links
                  a(href="/yuzhnoe-butovo/") Южное Бутово
              .districts__group 
                .districts__group-item Я
                .districts__links
                  a(href="/yasenevo/") Ясенево
          .districts__tab-item(id="tab-4")
            a(href="/svao/").districts__tab-title СВАО
            .districts__groups 
              .districts__group 
                .districts__group-item А
                .districts__links
                  a(href="/alekseevskij/") Алексеевский
                  a(href="/altufevskij/") Алтуфьевский
              .districts__group 
                .districts__group-item Б
                .districts__links
                  a(href="/babushkinskij/") Бабушкинский
                  a(href="/bibirevo/") Бибирево
                  a(href="/butyrskij/") Бутырский
              .districts__group 
                .districts__group-item Л
                .districts__links
                  a(href="/lianozovo/") Лианозово
                  a(href="/losinoostrovskij/") Лосиноостровский
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/marfino/") Марфино
                  a(href="/marina-roshha/") Марьина Роща
              .districts__group 
                .districts__group-item О
                .districts__links
                  a(href="/ostankinskij/") Останкинский
                  a(href="/otradnoe/") Отрадное
              .districts__group 
                .districts__group-item Р
                .districts__links
                  a(href="/rostokino/") Ростокино
              .districts__group 
                .districts__group-item С
                .districts__links
                  a(href="/sviblovo/") Свиблово
                  a(href="/severnoe-medvedkovo/") Северное Медведково
                  a(href="/severnyj/") Северный
              .districts__group 
                .districts__group-item Ю
                .districts__links
                  a(href="/yuzhnoe-medvedkovo/") Южное Медведково
              .districts__group 
                .districts__group-item Я
                .districts__links
                  a(href="/yaroslavskij/") Ярославский
          .districts__tab-item(id="tab-5")
            a(href="/moskovskaya-oblast/").districts__tab-title Московская область
            .districts__groups 
              .districts__group 
                .districts__group-item А
                .districts__links
                  a(href="/aprelevka/") Апрелевка
                  a(href="/agrogorod/") Агрогород
                  a(href="/aniskino/") Анискино
              .districts__group 
                .districts__group-item Б
                .districts__links
                  a(href="/balashikha/") Балашиха
                  a(href="/bronniczy/") Бронницы
                  a(href="/bykovo/") Быково
                  a(href="/barvikha/") Барвиха
              .districts__group 
                .districts__group-item В
                .districts__links
                  a(href="/vidnoe/") Видное
                  a(href="/velyaminovo/") Вельяминово
              .districts__group 
                .districts__group-item Г
                .districts__links
                  a(href="/goliczyno/") Голицыно
                  a(href="/gorki-2/") Горки-2
              .districts__group 
                .districts__group-item Д
                .districts__links
                  a(href="/dzerzhinskij/") Дзержинский
                  a(href="/dolgoprudnyj/") Долгопрудный
                  a(href="/domodedovo/") Домодедово
                  a(href="/dedovsk/") Дедовск
                  a(href="/dmitrov/") Дмитров
                  a(href="/durykino/") Дурыкино
              .districts__group 
                .districts__group-item Ж
                .districts__links
                  a(href="/zheleznodorozhnyj/") Железнодорожный
                  a(href="/zhukovskij/") Жуковский
                  a(href="/zhavoronki/") Жаворонки
                  a(href="/zhukovka/") Жуковка
              .districts__group 
                .districts__group-item З
                .districts__links
                  a(href="/zelenograd/") Зеленоград
                  a(href="/zvenigorod/") Звенигород
              .districts__group 
                .districts__group-item И
                .districts__links
                  a(href="/ivanteevka/") Ивантеевка
                  a(href="/istra/") Истра
                  a(href="/ilinskoe/") Ильинское
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/kotelniki/") Котельники
                  a(href="/krasnogorsk/") Красногорск
                  a(href="/korolyov/") Королёв
                  a(href="/klimovsk/") Климовск
                  a(href="/krasnoznamensk/") Краснознаменск
                  a(href="/krasnoarmejsk/") Красноармейск
              .districts__group 
                .districts__group-item Л
                .districts__links
                  a(href="/lyuberczy/") Люберцы
                  a(href="/lytkarino/") Лыткарино
                  a(href="/lobnya/") Лобня
                  a(href="/losino-petrovskij/") Лосино-Петровский
                  a(href="/lesnoj/") Лесной
                  a(href="/lvovskij/") Львовский
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/mytishhi/") Мытищи
                  a(href="/moskovskij/") Московский
                  a(href="/malakhovka/") Малаховка
              .districts__group 
                .districts__group-item Н
                .districts__links
                  a(href="/nakhabino/") Нахабино
                  a(href="/noginsk/") Ногинск
                  a(href="/nikolina-gora/") Николина Гора
              .districts__group 
                .districts__group-item О
                .districts__links
                  a(href="/odinczovo/") Одинцово
                  a(href="/obukhovo/") Обухово
              .districts__group 
                .districts__group-item П
                .districts__links
                  a(href="/podolsk/") Подольск
                  a(href="/pushkino/") Пушкино
                  a(href="/podvyaznogo/") Подвязного
                  a(href="/pervomajskij/") Первомайский
              .districts__group 
                .districts__group-item Р
                .districts__links
                  a(href="/reutov/") Реутов
                  a(href="/ramenskoe/") Раменское
                  a(href="/romashkovo/") Ромашково
              .districts__group 
                .districts__group-item С
                .districts__links
                  a(href="/staraya-kupavna/") Старая Купавна
                  a(href="/solnechnogorsk/") Солнечногорск
              .districts__group 
                .districts__group-item Т
                .districts__links
                  a(href="/troiczk/") Троицк
                  a(href="/tomilino/") Томилино
              .districts__group 
                .districts__group-item У
                .districts__links
                  a(href="/uspenskoe/") Успенское
                  a(href="/usovo/") Усово
              .districts__group 
                .districts__group-item Ф
                .districts__links
                  a(href="/fryazino/") Фрязино
                  a(href="/fryanovo/") Фряново
              .districts__group 
                .districts__group-item Х
                .districts__links
                  a(href="/khimki/") Химки
              .districts__group 
                .districts__group-item Ч
                .districts__links
                  a(href="/chernogolovka/") Черноголовка
                  a(href="/chekhov/") Чехов
              .districts__group 
                .districts__group-item Щ
                .districts__links
                  a(href="/shherbinka/") Щербинка
                  a(href="/shhelkovo/") Щелково
              .districts__group 
                .districts__group-item Э
                .districts__links
                  a(href="/elektrougli/") Электроугли
                  a(href="/elektrostal/") Электросталь
              .districts__group 
                .districts__group-item Ю
                .districts__links
                  a(href="/yubilejnyj/") Юбилейный
              .districts__group 
                .districts__group-item Я
                .districts__links
                  a(href="/yakhroma/") Яхрома
          .districts__tab-item(id="tab-6")
            a(href="/yuvao/").districts__tab-title ЮВАО
            .districts__groups 
              .districts__group 
                .districts__group-item В
                .districts__links
                  a(href="/vykhino-zhulebino/") Выхино-Жулебино
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/kapotnya/") Капотня
                  a(href="/kuzminki/") Кузминки
              .districts__group 
                .districts__group-item Л
                .districts__links
                  a(href="/lefortovo/") Лефортово
                  a(href="/lyublino/") Люблино
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/marino/") Марьино
              .districts__group 
                .districts__group-item Н
                .districts__links
                  a(href="/nekrasovka/") Некрасовка
                  a(href="/nizhegorodskij/") Нижегородский
              .districts__group 
                .districts__group-item П
                .districts__links
                  a(href="/pechatniki/") Печатники
              .districts__group 
                .districts__group-item Р
                .districts__links
                  a(href="/ryazanskij/") Рязанский
              .districts__group 
                .districts__group-item Т
                .districts__links
                  a(href="/tekstilshhiki/") Текстильщики
              .districts__group 
                .districts__group-item Ю
                .districts__links
                  a(href="/yuzhnoportovyj/") Южнопортовый
          .districts__tab-item(id="tab-7")
            a(href="/zao/").districts__tab-title ЗАО
            .districts__groups 
              .districts__group 
                .districts__group-item В
                .districts__links
                  a(href="/vnukovo/") Внуково
              .districts__group 
                .districts__group-item Д
                .districts__links
                  a(href="/dorogomilovo/") Дорогомилово
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/krylatskoe/") Крылатское
                  a(href="/kunczevo/") Кунцево
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/mozhajsk/") Можайск
              .districts__group 
                .districts__group-item Н
                .districts__links
                  a(href="/novo-peredelkino/") Ново-Переделкино
              .districts__group 
                .districts__group-item О
                .districts__links
                  a(href="/ochakovo-matveevskoe/") Очаково-Матвеевское
              .districts__group 
                .districts__group-item П
                .districts__links
                  a(href="/prospekt-vernadskogo/") Проспект Вернадского
              .districts__group 
                .districts__group-item Р
                .districts__links
                  a(href="/ramenki/") Раменки
              .districts__group 
                .districts__group-item С
                .districts__links
                  a(href="/solnczevo/") Солнцево
              .districts__group 
                .districts__group-item Т
                .districts__links
                  a(href="/troparyovo-nikulino/") Тропарёво-Никулино
              .districts__group 
                .districts__group-item Ф
                .districts__links
                  a(href="/filevskij-park/") Филевский Парк
                  a(href="/fili-davydkovo/") Фили-Давыдково
          .districts__tab-item(id="tab-8")
            a(href="/sao/").districts__tab-title САО
            .districts__groups 
              .districts__group 
                .districts__group-item А
                .districts__links
                  a(href="/aeroport/") Аэропорт
              .districts__group 
                .districts__group-item Б
                .districts__links
                  a(href="/begovoj/") Беговой
                  a(href="/beskudnikovskij/") Бескудниковский
              .districts__group 
                .districts__group-item В
                .districts__links
                  a(href="/vojkovskij/") Войковский
                  a(href="/vostochnoe-degunino/") Восточное Дегунино
              .districts__group 
                .districts__group-item Г
                .districts__links
                  a(href="/golovinskij/") Головинский
              .districts__group 
                .districts__group-item Д
                .districts__links
                  a(href="/dmitrovskij/") Дмитровский
              .districts__group 
                .districts__group-item З
                .districts__links
                  a(href="/zapadnoe-degunino/") Западное Дегунино
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/koptevo/") Коптево
              .districts__group 
                .districts__group-item Л
                .districts__links
                  a(href="/levoberezhnyj/") Левобережный
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/molzhaninovskij/") Молжаниновский
              .districts__group 
                .districts__group-item С
                .districts__links
                  a(href="/savyolovskij/") Савёловский
                  a(href="/sokol/") Сокол
              .districts__group 
                .districts__group-item Т
                .districts__links
                  a(href="/temiryazevskij/") Темирязевский
              .districts__group 
                .districts__group-item Х
                .districts__links
                  a(href="/khovrino/") Ховрино
                  a(href="/khoroshyovskij/") Хорошёвский
          .districts__tab-item(id="tab-9")
            a(href="/nao/").districts__tab-title НАО
            .districts__groups 
              .districts__group 
                .districts__group-item В
                .districts__links
                  a(href="/vnukovskoe/") Внуковское
                  a(href="/voskresenskoe/") Воскресенское
              .districts__group 
                .districts__group-item Д
                .districts__links
                  a(href="/desyonovskoe/") Десёновское
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/kokoshkino/") Кокошкино
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/marushkinskoe/") Марушкинское
                  a(href="/moskovskij/") Московский
                  a(href="/mosrentgen/") Мосрентген
              .districts__group 
                .districts__group-item Р
                .districts__links
                  a(href="/ryazanovskoe/") Рязановское
              .districts__group 
                .districts__group-item С
                .districts__links
                  a(href="/sosinskoe/") Сосинское
              .districts__group 
                .districts__group-item Ф
                .districts__links
                  a(href="/filimonovskoe/") Филимоновское
              .districts__group 
                .districts__group-item Щ
                .districts__links
                  a(href="/shherbinka/") Щербинка
          .districts__tab-item(id="tab-10")
            a(href="/zelao/").districts__tab-title ЗЕЛАО
            .districts__groups 
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/kryukovo/") Крюково
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/matushkino/") Матушкино
              .districts__group 
                .districts__group-item С
                .districts__links
                  a(href="/savyolki/") Савёлки
                  a(href="/staroe-kryukovo/") Старое Крюково
                  a(href="/silino/") Силино
          .districts__tab-item(id="tab-11")
            a(href="/tao/").districts__tab-title ТАО
            .districts__groups 
              .districts__group 
                .districts__group-item В
                .districts__links
                  a(href="/voronovskoe/") Вороновское
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/kievskij/") Киевский
                  a(href="/klyonovskoe/") Клёновское
                  a(href="/krasnopakhorskoe/") Краснопахорское
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/mikhajlovo-yarczevskoe/") Михайлово-Ярцевское
              .districts__group 
                .districts__group-item Н
                .districts__links
                  a(href="/novofyodorovskoe/") Новофёдоровское
              .districts__group 
                .districts__group-item П
                .districts__links
                  a(href="/pervomajskoe/") Первомайское
              .districts__group 
                .districts__group-item Р
                .districts__links
                  a(href="/rogovskoe/") Роговское
              .districts__group 
                .districts__group-item Т
                .districts__links
                  a(href="/troiczk/") Троицк
              .districts__group 
                .districts__group-item Щ
                .districts__links
                  a(href="/shhapovskoe/") Щаповское
          .districts__tab-item(id="tab-12")
            a(href="/szao/").districts__tab-title СЗАО
            .districts__groups 
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/kurkino/") Куркино
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/mitino/") Митино
              .districts__group 
                .districts__group-item П
                .districts__links
                  a(href="/pokrovskoe-streshnevo/") Покровское-Стрешнево
              .districts__group 
                .districts__group-item С
                .districts__links
                  a(href="/severnoe-tushino/") Северное Тушино
                  a(href="/strogino/") Строгино
              .districts__group 
                .districts__group-item Х
                .districts__links
                  a(href="/khoroshyovo-mnyovniki/") Хорошёво-Мнёвники
              .districts__group 
                .districts__group-item Щ
                .districts__links
                  a(href="/shhukino/") Щукино
              .districts__group 
                .districts__group-item Ю
                .districts__links
                  a(href="/yuzhnoe-tushino/") Южное Тушино
          .districts__tab-item(id="tab-13")
            a(href="/czao/").districts__tab-title ЦАО
            .districts__groups 
              .districts__group 
                .districts__group-item А
                .districts__links
                  a(href="/arbat/") Арбат
              .districts__group 
                .districts__group-item Б
                .districts__links
                  a(href="/basmannyj/") Басманный
              .districts__group 
                .districts__group-item З
                .districts__links
                  a(href="/zamoskvoreche/") Замоскворечье
              .districts__group 
                .districts__group-item К
                .districts__links
                  a(href="/krasnoselskij/") Красносельский
              .districts__group 
                .districts__group-item М
                .districts__links
                  a(href="/meshhanskij/") Мещанский
              .districts__group 
                .districts__group-item П
                .districts__links
                  a(href="/presnenskij/") Пресненский
              .districts__group 
                .districts__group-item Т
                .districts__links
                  a(href="/taganskij/") Таганский
                  a(href="/tverskoj/") Тверской
              .districts__group 
                .districts__group-item Х
                .districts__links
                  a(href="/khamovniki/") Хамовники
              .districts__group 
                .districts__group-item Я
                .districts__links
                  a(href="/yakimanka/") Якиманка