mixin metro(modifier)
  section.metro&attributes(attributes)
    .metro__container
      h3.metro__title Станции метро
      .metro__tab-defualt
        .metro__tabs 
          ul.metro__tablist 
            li.metro__item
              button(type="button" data-tab="tub-1").metro__btn.metro__btn--active
                include img/arbatsko-pokrovskaya.svg
            li.metro__item
              button(type="button" data-tab="tub-2").metro__btn
                include img/bolshaya-koltsevaya.svg
            li.metro__item
              a(href="#" data-tab="tab-3")
                include img/butovskaya.svg
            li.metro__item
              a(href="#" data-tab="tab-4")
                include img/zamoskvorec.svg
            li.metro__item
              a(href="#" data-tab="tab-5")
                include img/kalininsko-sontsevskaya.svg
            li.metro__item
              a(href="#" data-tab="tab-6")
                include img/kaluzhsko-rizhskaya.svg
            li.metro__item
              a(href="#" data-tab="tab-7")
                include img/kakhovskaya.svg
            li.metro__item
              a(href="#" data-tab="tab-8")
                include img/koltsevaya.svg
            li.metro__item
              a(href="#" data-tab="tab-9")
                include img/lublinsko-dmitrovskaya.svg
            li.metro__item
              a(href="#" data-tab="tab-10")
                include img/monorels.svg
            li.metro__item
              a(href="#" data-tab="tab-11")
                include img/mck.svg
            li.metro__item
              a(href="#" data-tab="tab-12")
                include img/d-1.svg
            li.metro__item
              a(href="#" data-tab="tab-13")
                include img/d-2.svg
            li.metro__item
              a(href="#" data-tab="tab-14")
                include img/nekrasovskaya.svg
            li.metro__item
              a(href="#" data-tab="tab-15")
                include img/serpuho-timiryazevskaya.svg
            li.metro__item
              a(href="#" data-tab="tab-16")
                include img/sokolnicheskaya.svg
            li.metro__item
              a(href="#" data-tab="tab-17")
                include img/tagansko-krasnopresnenskaya.svg
            li.metro__item
              a(href="#" data-tab="tab-18")
                include img/filevskaya.svg
        .metro__tab-panel 
          .metro__tab-item.metro__tab-item--open(id="tub-1")
            .metro__tab-title Арбатско-Покровская линия
            .metro__groups
              .metro__group
                .metro__group-item А
                .metro__links 
                  a(href="#") Арбатская
              .metro__group
                .metro__group-item Б
                .metro__links 
                  a(href="#") Бауманская
              .metro__group
                .metro__group-item В
                .metro__links 
                  a(href="#") Волоколамская
              .metro__group
                .metro__group-item И
                .metro__links 
                  a(href="#") Измайловская
              .metro__group
                .metro__group-item К
                .metro__links 
                  a(href="#") Киевская
                  a(href="#") Курская
                  a(href="#") Крылатское
                  a(href="#") Кунцевская
              .metro__group
                .metro__group-item М
                .metro__links 
                  a(href="#") Митино
                  a(href="#") Молодёжная
                  a(href="#") Мякинино
              .metro__group
                .metro__group-item П
                .metro__links 
                  a(href="#") Парк Победы
                  a(href="#") Партизанская
                  a(href="#") Первомайская
                  a(href="#") Площадь Революции
                  a(href="#") Пятницкое Шоссе
              .metro__group
                .metro__group-item С
                .metro__links 
                  a(href="#") Семёновская
                  a(href="#") Славянский бульвар
                  a(href="#") Смоленская
                  a(href="#") Строгино
              .metro__group
                .metro__group-item Щ
                .metro__links 
                  a(href="#") Щёлковская
              .metro__group
                .metro__group-item Э
                .metro__links 
                  a(href="#") Элктрозаводская
          .metro__tab-item(id="tub-2")
            .metro__tab-title Большая кольцевая линия
            .metro__groups
              .metro__group
                .metro__group-item Д
                .metro__links 
                  a(href="#") Деловой центр
              .metro__group
                .metro__group-item П
                .metro__links 
                  a(href="#") Петровский парк
              .metro__group
                .metro__group-item С
                .metro__links 
                  a(href="#") Савёловская
              .metro__group
                .metro__group-item Х
                .metro__links 
                  a(href="#") Хорошёвская
              .metro__group
                .metro__group-item Ц
                .metro__links 
                  a(href="#") ЦСКА
              .metro__group
                .metro__group-item Ш
                .metro__links 
                  a(href="#") Шелепиха