.metro {
    ul, ol {
        list-style: none;
    }

    &__container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__title {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 600;
        line-height: 50px;
        color: black;
        margin-top: 40px;
    }

    &__tab-defualt {
        margin: 40px 0;
    }

    &__tablist {
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0;
        gap: 20px 50px;
        padding: 0;
    }

    &__btn {
        background: #f5f6ff;
        border-radius: 10px;
        padding: 6px 11px;
        width: 57px;
        height: 40px;
        cursor: pointer;
        border: none;
        svg {
            rect {
                margin: 0 auto;
            }
        }
        &--active {
            cursor: pointer;
            background: #44456b;
        }
    }

    &__btn:hover {
        background: #e1e2ff;
    }

    &__btn--active:hover {
        background: #44456b;
    }

    &__tab-title {
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px; 
        margin-bottom: 20px;
        color: black;
        
    }

    &__groups {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    &__group {
        display: flex;
        margin-top: 20px;
        flex-basis: 300px;
    }

    &__group-item {
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px; 
        color: #a5a5a5;
    }

    &__links {
        display: flex;
        flex-direction: column;
        a {
            color: #1b6ace; 
            padding-left: 5px;
            font-family: Inter;
            font-size: 17px;
            font-weight: 500;
            line-height: 30px; 
            text-decoration: none;
        }
        
    }

    &__links > a:hover {
        text-decoration: underline;
        color: #1b6ace;
    }

    &__tab-item {
        display: none;
        &--active {
            display: block;
        }
    }

    @media screen and (max-width: 1024px) {
        &__groups {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

    }

    @media screen and (max-width: 768px) {
        &__title {
            font-size: 20px;
        }

        &__groups {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
        }

        &__btn {
            font-size: 12px;
            padding: 5px 10px;
        }

        &__tablist {
            gap: 15px 30px;
        }

        &__tab-title {
            font-size: 20px;
        }

        &__group-item {
            font-size: 18px;
        }

        &__links a {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 590px) {
        text-align: center;
        &__groups {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: left;
        }
    }

    @media screen and (max-width: 360px) {
        text-align: left;
    }

   
  
}
