.metro {
    &__container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }

    &__title {
        font-family: Podkova;
        font-size: 30px;
        font-weight: 600;
        line-height: 50px;
        color: #44456b;
    }

    &__tab-defualt {
        margin: 40px 0;
    }
  
}
